<div class="container">
    <h2>{{ project.name }}</h2>

    <p>{{ project.description }}</p>
    <p><strong>Beneficiari: </strong>{{ project.beneficiaries }}</p>
    <p><strong>Premii: </strong>{{ project.award }}</p>
    <p><strong>Eveniment: </strong><a href="{{ project.event }}">{{ project.event }}</a></p>
    <p><strong>Categorie: </strong>{{ project.category }}</p>
    <p><strong>Codul sursa: </strong><a href="{{ project.gitURL }}">{{ project.gitURL }}</a></p>
    <p><strong>Versiunea online: </strong>{{ project.onlineUrl }}</p>
    <p><srong>Stare: </srong>{{ project.state }}</p>
    <p><strong>Status: </strong>{{ project.status }}</p>

    <p><strong>Ultima modificare: </strong>{{ project.updated }}</p>
    <p><strong>Date deschise folosite: </strong>{{ project.openDataSeries }}</p>
    <p>Functionalitati:</p>
    <ul>
        <li ng-repeat="func in project.functionalities">{{ func }}</li>
    </ul>

    <div id="technologies">
        <span class="label label-info" ng-repeat="technology in project.technologies" style="margin: 5px;">{{ technology | limitTo:30 }}</span>
    </div>
</div>