
body {
    margin-top: 60px;
}

.thumbnail a div.caption p {
    text-align: justify;
}

.project-thumb {
    max-width: 140px;
}

.btn.google {
    background-color: #dd4b39;
    color: white;
}

.padding-top {
    padding-top: 30px;
}

.margin-left-sm {
    margin-left: 15px;
}